h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    background-color: aquamarine;
    color: brown;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: darkcyan;
    color: cornsilk;
    float: left;
    width: 33.33%;
}

div:after {
    content: "";
    display: table;
    clear: both;
}